<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

{% if site.theme.footer_text %}
<footer class="site-footer">
	<p class="text">{{ site.theme.footer_text }} {{ site.time | date: "%Y" }} Patrick Diehl <a rel="license" href="https://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png"></a> | <a href="http://diehlpk.github.io/impressum/index.html">Impressum</a> </p>
</footer>
{% endif %}
